<div class="logos">
  <img class="logo" src="ecology/logos/logo1_v2.png" alt="" />
  <img class="logo" src="ecology/logos/logo2.png" alt="" />
  <img class="logo" src="ecology/logos/logo_bsnu1.jpg" alt="" />
  <img class="logo" src="ecology/logos/logo3.jpg" alt="" />
  <img class="logo" src="ecology/logos/logo4.jpg" alt="" />
  <img class="logo" src="ecology/logos/logo5.jpg" alt="" />
</div>
<nav class="navbar navbar-expand-lg navbar-dark menu position-absolute top-20">
  <div class="container-fluid">
    <button
      class="navbar-toggler menuBtn"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="nav navbar-nav nav-text">
        <li class="nav-item mx-2">
          <a
            routerLink=""
            routerLinkActive="bg-primary-100 dark:bg-primary"
            class="flex w-full items-center p-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary"
            role="button"
            aria-haspopup="true"
          >
            Home
          </a>
        </li>
        <li class="nav-item mx-2">
          <a
            routerLink=""
            routerLinkActive="bg-primary-100 dark:bg-primary"
            class="flex w-full items-center p-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary"
            role="button"
            aria-haspopup="true"
            >About
          </a>
        </li>
        <li class="nav-item mx-2">
          <a
            routerLink=""
            routerLinkActive="bg-primary-100 dark:bg-primary"
            class="flex w-full items-center p-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary"
            role="button"
            aria-haspopup="true"
          >
            Our Team
          </a>
        </li>
        <li class="nav-item mx-2">
          <a
            routerLink=""
            routerLinkActive="bg-primary-100 dark:bg-primary"
            class="flex w-full items-center p-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary"
            role="button"
            aria-haspopup="true"
          >
            News
          </a>
        </li>
        <li class="nav-item mx-2">
          <a
            routerLink=""
            routerLinkActive="bg-primary-100 dark:bg-primary"
            class="flex w-full items-center p-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary"
            role="button"
            aria-haspopup="true"
          >
            Gallery
          </a>
        </li>
        <li class="nav-item mx-2">
          <a
            routerLink=""
            routerLinkActive="bg-primary-100 dark:bg-primary"
            class="flex w-full items-center p-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary"
            role="button"
            aria-haspopup="true"
          >
            Resources
          </a>
        </li>
      </ul>

      <!-- <ul class="navbar-nav ms-auto">
                <a href="{{route('setlocale',['lang'=>'uk'])}}"><img
                        class="flag {{(App::isLocale('uk') ? 'active' : '')}}" alt="ukraine"
                        src="{{asset('images/langs/uk.png')}}"/></a>
                <a href="{{route('setlocale',['lang'=>'en'])}}"><img
                        class="flag {{(App::isLocale('en') ? 'active' : '')}}" alt="english"
                        src="{{asset('images/langs/en.png')}}"/></a>
            </ul> -->
    </div>
  </div>
</nav>
